@*@model IEnumerable<SmartWatch_MVC.Models.TDanhMucSp>*@

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartWatch_MVC.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

<h2>Danh mục các sản  phẩm </h2>
<hr />

<p> 
    <button type="button" class="btn btn-gradient-primary btn-fw"><a style="text-decoration: none;" asp-action="ThemSanPhamMoi">Create New</a></button>
</p>
@*gán temdata vào danh mục sản phẩm*@
<p>@TempData["Message"]</p>
<div class="stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="table-warning">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.MaSp)*@
                            <p>Mã sản phẩm</p>
                        </th>
                        <th>
                            <p>Tên sản phẩm</p>
                        </th>
                        <th>
                            <p>Thời gian bảo hành</p>
                        </th>
                        <th>
                            <p>Giá nhỏ nhất</p>
                        </th>
                        <th>
                            <p>Giá lớn nhất</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        string @color = "table-success";
                    }
                    @foreach (var item in Model)
                    {
                        i = i + 1;
                        color = "table-success";
                       
                        if (i % 2 == 0)
                        {
                            color = "table-info";
                        }
                        <tr class="@color">
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaLonNhat)
                            </td>
                            <!--<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>-->
                            <td>
                                <div class="col-md-3">
                                    <a style="text-decoration: none;" asp-action="SuaSanPham" asp-route-maSanPham="@item.MaSp" >
                                        <i class="mdi mdi-rename-box"></i>
                                    </a>
                                    <a style="text-decoration: none;" asp-action="">
                                        <i class="mdi mdi-receipt"></i>
                                    </a>
                                    <a style="text-decoration: none;" asp-action="XoaSanPham" asp-route-maSanPham="@item.MaSp">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </a>
                            
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new{page=page}), new
    X.PagedList.Mvc.Core.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses =new List<String> {"page-link"}
    }
    )
</div>
   
