@*@model IEnumerable<SmartWatch_MVC.Models.TNhanVien>*@

@{
    ViewData["Title"] = "DanhMucNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartWatch_MVC.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TNhanVien>

<h2>Danh mục nhân viên</h2>
<hr />

<p>
    <button type="button" class="btn btn-gradient-primary btn-fw"><a style="text-decoration: none;" asp-action="ThemNhanVienMoi">Create New</a></button>
</p>
@*gán temdata vào danh mục sản phẩm*@
<p>@TempData["Message"]</p>
<div class="stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-warning">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.MaSp)*@
                            <p>Mã nhân viên</p>
                        </th>
                        <th>
                            <p>Tên nhân viên</p>
                        </th>
                        <th>
                            <p>Ngày sinh</p>
                        </th>
                        <th>
                            <p>SĐT</p>
                        </th>
                        <th>
                            <p>Địa chỉ</p>
                        </th>
                        <th>
                            <p>Chức vụ </p>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        string @color = "table-success";
                    }
                    @foreach (var item in Model)
                    {
                        i = i + 1;
                        color = "table-success";

                        if (i % 2 == 0)
                        {
                            color = "table-info";
                        }
                        <tr class="@color">
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNhanVien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNhanVien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgaySinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoDienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChucVu)
                            </td>
                           
                            <td>
                                <div class="col-md-3">
                                    <a style="text-decoration: none;" asp-action="SuaNhanVien" asp-route-MaNhanVien="@item.MaNhanVien" >
                                        <i class="mdi mdi-rename-box"></i>
                                    </a>
                                    <a style="text-decoration: none;" asp-action="">
                                        <i class="mdi mdi-receipt"></i>
                                    </a>
                                    <a style="text-decoration: none;" asp-action="" asp-route-MaNhanVien="@item.MaNhanVien">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("DanhMucNhanVien", new{page=page}), new
    X.PagedList.Mvc.Core.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses =new List<String> {"page-link"}
    }
    )
</div>


